@model Book

@section NavigationBar
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="AddBook">Add book</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Books" asp-action="AddBook">
    <div>
        <label asp-for="Title">Book title</label>
        <input asp-for="Title">
    </div>
    <div>
        <label asp-for="Author">Author (Firstname Lastname)</label>
        <input asp-for="Author">
    </div>
    <div>
        <label asp-for="CopiesAvailable">Number of copies</label>
        <input asp-for="CopiesAvailable">
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>