@model Book

@section NavigationBar
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="AddBook">Add book</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<form action="EditBook" method="post">
    <div>
        <label asp-for="Title">Book title</label>
        <input asp-for="Title" value="@Model.Title">
    </div>
    <div>
        <label asp-for="Author">Author</label>
        <input asp-for="Author" value="@Model.Author">
    </div>
    <div>
        <label asp-for="CopiesAvailable">Number of copies available</label>
        <input asp-for="CopiesAvailable" value="@Model.CopiesAvailable">
    </div>
    <div>
        <label asp-for="ID">Book ID</label>
        <input asp-for="ID" readonly="readonly" value="@Model.ID">
    </div>
    <div>
        <input type="submit" value="Edit" />
    </div>
</form>