@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Library of Marko offers the largest selection of books this side of the border.</p>
</div>