@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Library of Marko offers the largest selection of books this side of the border.</h4>
</div>
<br>
<p>
    Imagine a long and interesting history of the library because there sure isn't one.
</p>